@use "sass:list";

$font-size-default: list.slash(16px, 24px);
$font-size-3xl: list.slash(2.75, 4.125rem);
$font-size-2xl: list.slash(1.75, 2.75rem);
$font-size-s: list.slash(0.875rem, 1.5rem);

$font-default: 400 16px/24px "Open Sans", sans-serif;
$font-bold: 600 1rem/1.5rem "Open Sans", sans-serif;
$font-h1: 600 2.75rem/4.125rem "Open Sans", sans-serif;
$font-h2: 400 1.75rem/2.75rem "Open Sans", sans-serif;
$font-h3: 600 1rem/1.5rem "Open Sans", sans-serif;

$font-small: 400 0.875rem/1.5rem "Open Sans", sans-serif;

$color-blue-200: #ccf1ff;
$color-blue-700: #007fae;
$color-blue-900: #006388;

$color-gray-200: #e4e6e6;
$color-gray-700: #627a82;

$color-red-200: #f2dede;
$color-red-700: #b52c17;
