@import "../utils/variables.scss";

.DateSelector {
  margin-top: 1rem;
  align-items: center;
  font: $font-small;

  .options {
    margin: 0.25rem 0 0 0;
    padding: 0;
    list-style: none;
    display: inline-flex;

    li {
      margin: 0 1.25rem 0 0;
      padding: 0;

      input[type="radio"] {
        height: 1.25rem;
        margin: 0;
        padding: 0 0.5rem 0 0;
        vertical-align: text-top;
      }

      label {
        display: inline-block;
        vertical-align: text-top;
        padding-left: 0.5rem;
      }
    }

    .manual-date {
      white-space: nowrap;

      input[type="text"] {
        border-radius: 0.25rem;
        border: 1px solid $color-gray-700;
        height: 1.5rem;
        padding: 0 0.5rem;
        width: 6rem;
        font: $font-small;
      }

      .react-datepicker-popper {
        z-index: 100;
      }

      .react-datepicker-wrapper {
        margin: 0 0 0 0.5rem;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
