@import "../utils/variables.scss";

.GradesTable {
  width: 100%;
  border-collapse: collapse;
  font: $font-small;

  &.mocked {
    filter: blur(6px);
  }

  thead th {
    text-align: left;
    padding: 0.5rem 0;
  }

  tbody > tr {
    border-top: 1px solid $color-gray-700;
    border-bottom: 1px solid $color-gray-700;

    .id {
      width: 4rem;
      padding: 0.5rem 1rem;
    }

    .name {
      width: 20rem;
    }

    .grade {
      width: 6rem;
    }

    .date {
      width: 10rem;
    }
  }
}
