@use "../utils/variables.scss";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 3rem 0;

  > .Spinner {
    animation: 1000ms infinite linear spin;
    margin: 0 1rem 0 0;
    color: variables.$color-blue-700;
  }
}
